@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi there! Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="/s2i-dotnetcore-ex/app/Views/Home/thumbup.png" alt="Thumb up">
    <img src="thumbup.png" alt="Thumb up">
    <img src="https://i.redd.it/ntrs844tw6771.jpg" alt="straws">
</div>
